@font-face {
    font-family: 'neuropol';
    src: url('./public/neuropol.otf') format('opentype');
}

body {
    background: radial-gradient(closest-side, #8C805F, #22282c, #1f2020);
    background-attachment: fixed;
    color: #E4EFE7;
}
.card {
    color: #E4EFE7;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1rem;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.card-body {
    padding: 0;
}
.card:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.397);
}
.card-content-css {
    text-align: center;
    padding: 0 22px 0 22px;
}
.card-footer {
    color: #d2c6da;
    display: flex;
    justify-content: end;
}
ul {
    line-height: 1.6;
}
ol {
    line-height: 1.7;
}
#carouselOne {
    border-style: solid;
    border-width: thin;
    border-color:#3F2909;
}

#profile_pic {
    border-style: solid;
    border-width: thin;
    border-color:#3F2909
}
.back_splash {
    background-color: #79745F;
    border-style: solid;
    border-width: 2px;
    border-color: #3F2909;
}
.blurb {
    border-style: solid;
    border-width: thin;
    border-color: #3F2909;
}

.btn {
    color: #E4EFE7;
    background-color:#2B4649;
    border-style: solid;
    border-width: 2px;
    border-color: #3F2909;
    height: 32px;
    width: 100px;
    margin-left: 10px;
    padding: 0;
}

.btn:hover {
    background-color: #182628;
    border-style: solid;
    border-width: 2px;
    border-color: #6f5631;
}

@media (max-width: 768px) {
    .btn{
        margin-left: 0;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover, a:visited {
    text-decoration: none;
}

#top_nav {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: -20px;
}
#title_box {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: #2B4649;
    border-right-width: 0px;
    padding: 0;
    border-style: solid;
    border-width: 2px;
    border-right-width: 0px;
    border-color: #3F2909;
}
#title_box_wrapper {
    margin-left: -20px;
    font-family: 'neuropol';
}
#too_big_text {
    font-size: 15px;
    padding-left: 2px;
}
.sub_title_strap {
    background-color: #2B4649;
    width: 100%;
    margin-top: 0px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-style: solid;
    border-color:#3F2909;
    border-top-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 1px;
}
.side_list {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}
.card_straps {
    background-color: #4E4A3A;
    width: 100%;
    height: 60px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-style: solid;
    border-color:#3F2909;
    border-top-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #2B4649;
}


#animator {
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: 1;
}
